<header id="header">
  <!--<div id="banner"></div>-->
  <div id="header-outer" class="outer">
    <a href="https://smoke-indica.com">
      <div id="header-title" class="inner" style="opacity: 0.45;">
        <h1 id="logo-wrap" style="font-weight:bold; color:#ffffff; font-size:50px;">Smoke Indica</h1>
        <% if (theme.subtitle){ %>
          <h2 id="subtitle-wrap" style="color:#ffffff; font-size:25px;"><%= theme.subtitle %></h2>
        <% } %>
      </div>
    </a>
  </div>
</header>
