<article id="price_page" itemscope itemprop="blogPost" style="padding-top:42px;">
  <!-- class="article article-type -->
  <div class="article-inner" style="box-shadow: 2px 3px 3px 3px #8DB98A;">
    <header class="article-body" style="margin-bottom:5px;">
      <div class="container-fluid" style="min-width:100%;">
        <div class="row">
          <div class="col-12">
            <h1 style="font-size: 40px; color:grey;"><b>Here's the current Smoke prices</b></h1>
          </div>
        </div>
      </div>
    </header>
    <div class="article-entry" itemprop="articleBody">
      <div class="container-fluid" style="min-width:100%;">
        <div class="row">
          <div class="col-12">
            <h2>RUDEX.SMOKE : BTS = <span id="rudexsmoke_bts_price"></span> (last update: <span id="rudexsmoke_bts_timestamp"></span>)</h2>
            <p><b>RUDEX.SMOKE</b> is Smoke deposited onto the Bitshares platform through the Rudex gateway service.</p>
            <hr/>
            <h2>SMOKE : BTS = <span id="smoke_bts_price"></span> (last update: <span id="smoke_bts_timestamp"></span>)</h2>
            <p><b>SMOKE</b> is an User Issued Asset on the Bitshares platform, it was sold during Smoke's ICO period. It can be claimed for real SMOKE on the Smoke network.</p>
            <hr/>
            <h2>BTS : USD = <span id="bts_usd_price"></span> (last update: <span id="bts_usd_timestamp"></span>)</h2>
            <p>Bitshares (BTS) is the core token which powers the Bitshares platform, it's the primary trading pair with the above assets, however the above can be traded with any asset on the Bitshares platform</p>
            <hr/>
            <h2>By my calculations, SMOKE is currently worth $<span id="smoke_usd_price"></span> each.</h2>
            <h3>Blockchain explorers</h3>
          </div>
          <div class="col-6">
            <h4>RUDEX.SMOKE</h4>
            <ul>
              <li><a href="https://bitsharescan.com/asset/RUDEX.SMOKE">Bitsharescan</a></li>
              <li><a href="https://open-explorer.io/#!/assets/RUDEX.SMOKE">Open-Explorer</a></li>
              <li><a href="https://bitshares-explorer.io/#/assets/RUDEX.SMOKE">Bitshares-Explorer</a></li>
              <li><a href="https://bts.ai/a/RUDEX.SMOKE">BTS.ai</a></li>
              <li><a href="https://cryptofresh.com/a/RUDEX.SMOKE">Cryptofresh</a></li>
              <li><a href="https://wallet.bitshares.org/#/asset/RUDEX.SMOKE">Bitshares wallet</a></li>
              <li><a href="https://market.rudex.org/#/asset/RUDEX.SMOKE">Rudex wallet</a></li>
            </ul>
          </div>
          <div class="col-6">
            <h4>SMOKE</h4>
            <ul>
              <li><a href="https://bitsharescan.com/asset/SMOKE">Bitsharescan</a></li>
              <li><a href="https://open-explorer.io/#!/assets/SMOKE">Open-Explorer</a></li>
              <li><a href="https://bitshares-explorer.io/#/assets/SMOKE">Bitshares-Explorer</a></li>
              <li><a href="https://bts.ai/a/SMOKE">BTS.ai</a></li>
              <li><a href="https://cryptofresh.com/a/SMOKE">Cryptofresh</a></li>
              <li><a href="https://wallet.bitshares.org/#/asset/SMOKE">Bitshares wallet</a></li>

            </ul>
          </div>
          <div class="col-12">
            <h5>Bookmark this page to easily check the price of Smoke 👍</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<%- js('js/smoke') %>
