<% if (post.images && post.images.length){ %>
<div class="article-gallery">
  <div class="article-gallery-photos">
    <% post.images.forEach(function(photo, i){ %>
      <a class="article-gallery-img" href="<%- url_for(photo) %>" rel="gallery_<%= post._id %>">
        <img src="<%- url_for(photo) %>" itemprop="image">
      </a>
    <% }) %>
  </div>
</div>
<% } %>
