<!--
<br/>
<h3 class="widget-title">Support this site</h3>
<div class="widget" style="box-shadow: 2px 3px 3px 3px #8DB98A;overflow: auto;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <ul style="font-size:20px;">
        <li><a href="https://www.vultr.com/?ref=8082634-4F">Vultr</a></li>
        <li><a href="https://purse.io/?_r=ewuZjT">Purse.io</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
      <ul style="font-size:20px;">
        <li><a href="http://mpak.me/mO66b">MunchPak</a></li>
        <li><a href="https://www.seedsman.com/en/cannabis-seeds/?a_aid=5cd760c897b29&a_bid=5bcc8929">Seedsman</a></li>
      </ul>
    </div>
  </div>
</div>
-->
